.main-body
{
    -webkit-app-region: drag;
    position: relative;
    width: 900px;
    height: 600px;
    background: #3E4345;
    border-radius: 20px;
}

.main-body-line
{
    -webkit-app-region: no-drag;
    position: absolute;
    width: 900px;
    height: 0px;
    left: 0px;
    top: 51px;
    border: 1px solid #4E5356;
}

.main-body-logo
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-app-region: no-drag;
    position: absolute;
    width: 87px;
    height: 18px;
    left: 65px;
    top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: #87F5C7;
}

.main-body-logo-box
{
    -webkit-app-region: no-drag;
    box-sizing: border-box;
    position: absolute;
    width: 35px;
    height: 34px;
    left: 16px;
    top: 10px;
    background: #080909;
    border: 1px solid #48555C;
    border-radius: 10px;

}

.main-body-logo-box-img
{
    -webkit-app-region: no-drag;
    position: absolute;
    width: 23px;
    height: 23px;
    left: 22px;
    top: 16px;
    background: url(anim/logo.svg);
}


.close-btn
{  
    -webkit-app-region: no-drag;
    z-index:50;
    display: flex;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 868px;
    top: 25px;
    background: url(anim/close-box.svg);
}

.min-btn
{  
    -webkit-app-region: no-drag;
    z-index:50;
    display: flex;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 840px;
    top: 25px;
    background: url(anim/minus-box.svg);
}

.know-more-btn
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-app-region: no-drag;
	background-color:#85F9B6;
	border-radius:4px;
	border:1px solid #4A4F52;
	display:inline-block;
	cursor:pointer;
	color:#3E4345;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	padding:5px 10px;
    position: absolute;
    width: 70px;
    left: 732px;
    font-weight: 800;
    top: 23px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.know-more-btn:hover
{
    background-color:#8EEBF6;
    color:#3E4345;
}

.know-more-btn:active
{
    background-color:#3E4345;
    color:#BBBCBE;
}